.app {
  font-family: "Source Sans Pro",-apple-system,".SFNSText-Regular","San Francisco",Roboto,"Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
